@import "./color-palette";
@import "./shadow";

$toolbar-height-desktop: 80px;
$toolbar-height-tablet: 64px;
$toolbar-height-phone: 56px;

$header-height: 80vh;

// 1. Colors
// ==========================================================================

$primary-color: md-color(deep-purple, 500) !default;
$primary-color-light: md-color(deep-purple, 400) !default;
$primary-color-dark: md-color(deep-purple, 700) !default;

$secondary-color: md-color(pink, A200) !default;
$success-color: md-color(green, 500) !default;
$error-color: md-color(red, 500) !default;
$link-color: md-color(pink, A400) !default;

$color-text-light: md-color(blue-grey, 50) !default;
$color-text-dark: md-color(blue-grey, 900) !default;
$color-text-primary: $primary-color;
$color-text-accent: $secondary-color;

// Media Query Ranges
$small-screen-up: 480px !default;
$medium-screen-up: 840px !default;
$large-screen-up: 1280px !default;
$small-screen: 480px !default;
$medium-screen: 840px !default;
$large-screen: 1280px !default;



@mixin responsive($attr, $phone, $tablet, $desktop) {
    @media screen and (max-width: $small-screen) {
        #{$attr}: $phone;
    }
    @media screen and (min-width: $small-screen-up) and (max-width: $medium-screen) {
        #{$attr}: $tablet;
    }
    @media screen and (min-width: $medium-screen-up) {
        #{$attr}: $desktop;
    }
}

@mixin show-in-phone {
    @media screen and (min-width: $small-screen-up) {
        display: none !important;
    }
}
@mixin hide-in-phone {
    @media screen and (max-width: $small-screen) {
        display: none !important;
    }
}
@mixin show-in-tablet {
    @media screen and (max-width: $small-screen) {
        display: none !important;
    }
    @media screen and (min-width: $medium-screen-up) {
        display: none !important;
    }
}
@mixin hide-in-tablet {
    @media screen and (min-width: $small-screen-up) and (max-width: $medium-screen) {
        display: none !important;
    }
}
@mixin show-in-desktop {
    @media screen and (max-width: $medium-screen) {
        display: none !important;
    }
}
@mixin hide-in-desktop {
    @media screen and (min-width: $medium-screen-up) {
        display: none !important;
    }
}

@mixin large-font {
    font-size: 1.2rem;
}

@mixin medium-font {
    font-size: 1rem;
}

@mixin small-font {
    font-size: 0.8rem;
}

@mixin light-font {
    font-weight: 300;
}

@mixin bold-font {
    font-weight: 500;
}

@mixin black-font {
    font-weight: 700;
}
